.btn{
    background-color: #191919;
    margin: 10px;
}

.nav-wrapper {
    background-color: #191919;
    color: #FFE390;
}


.circle {
       -moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;
    width: 250px;
    height: 250px;
}

.carousel-item {
     -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    border-radius: 150px;
}
